
$wc: #ffffff;
$bc: #000000;

//$offset-controller-vert: 40px;
//$offset-controller-hor: 50px;

:root {
  --offset-page: 30px;
  //--header-h: 50px;
}

@media screen and (max-width:1440px){
  :root {

  }
}

@media screen and (max-width:992px){
  :root {
    --offset-page: 0;
  }
}

@media screen and (max-width: 680px){
  :root {

  }
}
